# Data Cleaning Notebook

In [2]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("sales.csv")
#df.head()
df.shape

(18302, 32)

In [141]:
# Remove Unnamed column and set index
del df["Unnamed: 0"]
df.set_index("id", inplace=True)

In [142]:
# Replace NaN values and booleans
df = df.replace(False, 0)
df = df.replace(True, 1)
df = df.replace(np.nan, 0)

# Lowercase locality column
df["locality"] = df["locality"].map(lambda x: x.lower())

In [143]:
# Force types
types = {"bedroom_count": 'int64', "bathroom_count": 'int64', "showerroom_count": 'int64', "facades": 'int64', "construction_year": 'int64', "living_surface": 'float64', "garden_surface": 'float64', "terrace_surface": 'float64', "attic": 'int64', "basement": 'int64', "swimming_pool": 'int64', "fireplace": 'int64', "fitness_room": 'int64', "tennis_court": 'int64', "sauna": 'int64', "jacuzzi": 'int64', "hammam": 'int64'}
df = df.astype(types)

In [144]:
shp1 = df.shape[0]

In [145]:
# Drop all the rows where all the below columns are the same
df = df.drop_duplicates(["postal_code", "street_name", "street_number", "facades", "living_surface", "terrace_surface", "subtype"], keep="last")

#Delete prices equal to 0
df = df[df.price != 0]

In [146]:
shp2 = df.shape[0]

In [147]:
print(f"Cleaned {shp1 - shp2} duplicates")

Cleaned 787 duplicates

In [148]:
df.to_csv("cleaned_sales.csv")